Flask
gunicorn
wtforms
sqlalchemy
mysql-connector-python
flask_sqlalchemy
transformers
torch
scikit-learn
openai
python-dotenv
tensorflow
nltk
python-dotenv
nltk
openpyxl
pip install bert-extractive-summarizer





tensorflow
tensorflow_datasets
xformer
emoji==0.6.0
bertopic





